<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.pyatLevelConnectionString"
            connectionString="Data Source=MANAS-PC\sqlexpress;Initial Catalog=pyatLevel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>